@charset "UTF-8";

/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/dist/css
$ionicons-font-path: "../fonts" !default;

// Include all of Ionic

@import
  // Ionicons
	"../lib/ionic/scss/ionicons/ionicons.scss",

  // Variables
	"../lib/ionic/scss/mixins",
	"../lib/ionic/scss/variables",

  // Base
	"../lib/ionic/scss/reset",
	"../lib/ionic/scss/scaffolding",
	"../lib/ionic/scss/type",

  // Components
	"ionic/action-sheet",
//	"../lib/ionic/scss/backdrop",
	"../lib/ionic/scss/bar",
//	"../lib/ionic/scss/tabs",
//	"../lib/ionic/scss/menu",
	"../lib/ionic/scss/modal",
//	"../lib/ionic/scss/popover",
	"../lib/ionic/scss/popup",
//	"../lib/ionic/scss/loading",
	"../lib/ionic/scss/items",
	"../lib/ionic/scss/list",
//	"../lib/ionic/scss/badge",
//	"../lib/ionic/scss/slide-box",
//	"../lib/ionic/scss/refresher",
//	"../lib/ionic/scss/spinner",

  // Forms
	"../lib/ionic/scss/form",
//	"../lib/ionic/scss/checkbox",
//	"../lib/ionic/scss/toggle",
//	"../lib/ionic/scss/radio",
//	"../lib/ionic/scss/range",
//	"../lib/ionic/scss/select",
//	"../lib/ionic/scss/progress",

  // Buttons
	"../lib/ionic/scss/button",
//	"../lib/ionic/scss/button-bar",

  // Util
//	"../lib/ionic/scss/grid",
	"../lib/ionic/scss/util",
//	"../lib/ionic/scss/platform",

  // Animations
	"../lib/ionic/scss/animations",
	"../lib/ionic/scss/transitions";
