.popup-confirm {
	opacity: 1;

	.popup {
		border-radius: 5px;
		padding: 0;
		margin: 0;
		background-color: rgba(255, 255, 255, 1);

		.popup-head {
			padding: 0;
			border-bottom: 0;

			h3 {
				height: 100%;

				.popup-hd {
					padding: 25px 0;
					color: $dark;
					text-align: center;
					width: 60%;
					line-height: 25px;
					margin: auto;
					font-size: 18px;
					font-weight: 300;
					opacity: .9;

          span {
            color: $base;
            font-size: 24px;
            padding: 0 5px;
          }
				}

        .popup-content {
          padding: 0 0 25px 0;
          color: $dark;
          text-align: center;
          width: 80%;
          line-height: 25px;
          margin: auto;
          font-size: 18px;
          font-weight: 300;
          opacity: .9;
        }
			}
		}

		.popup-buttons {
			border-top: 1px solid #c2baba;
			min-height: inherit;
			margin: 0;
			padding: 0;

			.button {
				line-height: 50px;
				padding-top: 1px;
				min-height: inherit;
				max-height: inherit;
				border: 0;
				margin: 0;
				background: none;
				border-radius: 0;

				&:first-of-type {
					border-right: 1px solid #c2baba;
					color: #666;
				}

				&:last-of-type {
					color: #5177f3;
					height: 100%;
				}

				&:after {
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
				}
			}
		}
	}
}

.popup-no-ok .popup .popup-buttons {
	@include display-flex;

	.button {
		@include flex(1);

		&:first-of-type {
			border: 0;
			color: #33a09a;
		}

		&:last-of-type {
			display: none;
		}
	}
}
