.popup-show {
  opacity: 1;

  .popup {
    width: 200px;
    border: 1px solid #c2baba;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    background-color: rgba(255, 255, 255, 1);

    .popup-head {
      height: 50px;
      padding: 0;
      border-bottom: 0;

      h3 {
        height: 100%;
        line-height: 50px;

        .popup-hd {
          padding: 25px 0;
          color: $dark;
          text-align: center;
          width: 60%;
          line-height: 25px;
          margin: auto;
          font-size: 18px;
          font-weight: 300;
          opacity: .9;

          span {
            color: $base;
            font-size: 24px;
            padding: 0 5px;
          }
        }

        .popup-content {
          padding: 0 0 25px 0;
          color: $dark;
          text-align: center;
          width: 80%;
          line-height: 25px;
          margin: auto;
          font-size: 18px;
          font-weight: 300;
          opacity: .9;
        }
      }
    }

    .popup-buttons {
      display: block;
      min-height: inherit;
      margin: 0;
      padding: 0;

      .button {
        text-align: left;
        padding-left: 10px;
        width: 100%;
        border-left: none;
        border-right: none;
        border-top: 2px solid #c2baba;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        min-height: inherit;
        max-height: inherit;
        margin: 0;
        background: none;
        border-radius: 0;

        &:first-of-type {

        }

        &:last-of-type {

        }

        &:after {
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
      }

      .activated {
        color: $blue;
      }
    }
  }
}

.popup-no-ok .popup .popup-buttons {
  @include display-flex;

  .button {
    @include flex(1);

    &:first-of-type {
      border: 0;
      color: #33a09a;
    }

    &:last-of-type {
      display: none;
    }
  }
}
