<ion-view title="绑定机构" class="org-choose" hide-nav-bar="true">
  <ion-content class="container">
    <div class="panel">
      <div class="label">请选择您所在的机构：</div>
      <select class="select"
              ng-model="container.selectedOrg"
              ng-options="org.name for org in subOrgs">
      </select>
      <div class="tips">为能正常获取我们的服务，请仔细选择您所在的机构哦～</div>
      <button class="btn btn-default" ng-click="submit()">提交</button>
    </div>
  </ion-content>
</ion-view>
