<ion-view title="课程一览" hide-nav-bar="true">
  <ion-content>
    <div class="panel">
      <div class="banner">
        <img class="x-full-width" ng-src="/img/weixin/banner.png">
      </div>
      <div class="grid">
        <div ng-repeat="cs in courses">
          <div class="grid-item" ng-click="goDetail(cs._id)">
            <div class="item-img">
              <img ng-if="cs.limit > 0 && cs.members.length == cs.limit" ng-src="/img/weixin/course-full.png"/>
              <img ng-if="cs.limit <= 0 || cs.members.length != cs.limit" ng-src="/img/weixin/course.png"/>
            </div>
            <div class="item-content">
              <div class="item-name">
                <a>{{cs.name.length > 23? cs.name.slice(0, 22) + '...': cs.name}}</a>
              </div>
              <div class="item-price">
                &yen;<span class="price">{{cs.price.value}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
