<ion-view title="课程报名" hide-nav-bar="true" ng-controller="courseDetailCtrl" ng-form="wxSignForm">
  <div ng-if="backdrop" class="page-backdrop"></div>
  <ion-content class="course_detail">
    <div class="section">
      <div class="introduce">
        <div class="banner">
          <img class="x-full-width" ng-src="/img/weixin/banner.png">
        </div>

        <div class="detail section">
          <div class="title">{{course.name}}</div>
          <div class="price">
            <span class="name">价格</span>
            <span class="unit">&yen;</span>
            <span class="value">{{course.price.value}}</span>
          </div>
        </div>
        <div class="detail section">
          <div class="title">课程介绍</div>
          <div class="course_content">{{course.description}}</div>
        </div>
      </div>

      <div class="enroll section">
        <div class="title">立即报名</div>

        <div class="list-text">

          <div class="one-item" delegate-handle="initScroll">
            <div class="label">
              <span class="before-input">姓名</span>
              <div class="border">
                <input type="text"
                       id="realname"
                       name="realname"
                       ng-required="true"
                       ng-pattern="/^\S+$/"
                       ng-model="user.profile.realname"
                       ng-disabled="course.joined"
                       ng-init="focusRealname = false"
                       ng-focus="focusRealname = true"
                       ng-blur="focusRealname = false"
                       placeholder="请输入孩子姓名"/>
              </div>
              <button ng-show="focusRealname && user.profile.realname"
                      class="icon ion-close-circled"
                      ng-click="cleanContent('realname')"></button>
            </div>

            <div class="warn"
                 ng-if="wxSignForm.realname.$dirty && wxSignForm.realname.$invalid && !focusRealname">请输入姓名
            </div>
          </div>

          <div class="one-item">
            <div class="label">
              <span class="before-input">性别</span>
              <div class="sex">
                <div ng-click="updateGender('male')"
                     ng-class="user.profile.gender == 'male'? 'chose-sex ion-android-radio-button-on' : 'chose-sex ion-android-radio-button-off'">
                  男
                </div>
                <div ng-click="updateGender('female')"
                     ng-class="user.profile.gender == 'female'? 'chose-sex ion-android-radio-button-on' : 'chose-sex ion-android-radio-button-off'">
                  女
                </div>
              </div>
            </div>
          </div>

          <div class="one-item">
            <div class="label">
              <span class="before-input">家长姓名</span>
              <div class="border">
                <input type="text"
                       id="parentName"
                       name="parentName"
                       ng-model="user.profile.parent.name"
                       ng-init="focusParentName = false"
                       ng-focus="focusParentName = true"
                       ng-blur="focusParentName = false"
                       ng-disabled="course.joined"
                       ng-pattern="/^\S+$/"
                       ng-required="true"
                       placeholder="请输入家长姓名"/>
              </div>
              <button ng-show="focusParentName && user.profile.parent.name"
                      class="icon ion-close-circled"
                      ng-click="cleanContent('parentName')"></button>
            </div>

            <div class="warn"
                 ng-if="wxSignForm.parentName.$dirty && wxSignForm.parentName.$invalid && !focusParentName">请输入家长姓名
            </div>
          </div>

          <div class="one-item">
            <div class="label">
              <span class="before-input">手机号</span>
              <div class="border">
                <input type="text"
                       id="mobile"
                       name="mobile"
                       tabindex=1
                       ng-required="true"
                       ng-pattern="/^1[3|4|5|6|7|8][0-9]\d{8}$/"
                       ng-model="user.profile.mobile"
                       ng-init="focusTel = false"
                       ng-focus="focusTel = true"
                       ng-blur="focusTel = false"
                       ng-disabled="course.joined"
                       placeholder="请输入手机号"/>
              </div>
              <button ng-show="focusTel"
                      class="icon ion-close-circled"
                      ng-click="cleanContent('mobile')"></button>
            </div>

            <div class="warn" ng-if="wxSignForm.mobile.$dirty && wxSignForm.mobile.$invalid && !focusTel">您输入的手机号码有误
            </div>
          </div>

          <!-- 新用户，修改了电话号码的非报名用户: 显示验证码框  -->
          <div class="one-item" ng-controller="VerificationCodeController"
               ng-if="!boughtFlag && (!course.joined || course.joined && wxSignForm.mobile.$dirty && wxSignForm.mobile.$valid)">
            <div class="label">
              <span class="before-input">验证码</span>
              <div class="border">
                <input type="text"
                       id="mobileCode"
                       name="mobileCode"
                       ng-required="true"
                       ng-model="user.verification.code"
                       ng-init="focusCode = false"
                       ng-focus="focusCode = true"
                       ng-blur="focusCode = false"
                       ng-disabled="!hadGenerate"
                       placeholder="请输入验证码"/>
                <button ng-show="focusCode && user.verification.code"
                        class="icon ion-close-circled ion-verification"
                        ng-click="cleanContent('mobileCode')"></button>
                <div id="verification-timer" ng-class="{'verification-timer': data.$verifying}">
                  <button class="verification"
                          ng-disabled="!user.profile.mobile || data.$verifying"
                          ng-click="generateCode(user, 'sms')">{{sendValue}}
                  </button>
                  <timer class="timer verification"
                         autostart="false"
                         countdown="60"
                         interval="1000"
                         ng-if="data.$verifying"
                         finish-callback="timerFinished()">{{countdown}}
                  </timer>
                </div>
              </div>
            </div>

            <div class="warn" ng-if="data.verifyCodeError">您输入的验证码有误</div>
          </div>
        </div>
        <div class="tips">本课程的最终解释权属于{{organization.name}}</div>
      </div>
    </div>
  </ion-content>

  <ion-footer-bar class="pay-footer">
    <button class="enroll"
            ng-disabled="course.joined"
            ng-click="backToForm()"
            ng-if="wxSignForm.$invalid || course.joined">
      {{course.joined ? '已报名': '立即报名'}}
    </button>

    <div ng-if="wxSignForm.$valid && !course.joined" class="pay">
      <div class="left">课程费用<span>{{course.price.value}}元</span></div>

      <button class="right" ng-click="signUp()"
              ng-disabled="course.joined || wxSignForm.$invalid || boughtFlag">
        去付款
      </button>
    </div>
  </ion-footer-bar>
</ion-view>
