/**
 * Colors
 * --------------------------------------------------
 */

$base: 														#33a09a !default;
$blue: 														#527be3 !default;
$light-blue: 											#89c7dc !default;
$gray: 														#666 !default;
$dark: 														#333;
$font-gray: 											#999 !default;
$bg-light: 												#f8f8f8 !default;
$pink: 														#ef596b !default;
$cyan: 														#67c7c2 !default;
$orange: 														#f64f0e !default;
$light-pink: 											#f17c89 !default;
$border-color: 										#dcdbdb !default;
$light-gray: 											#eee !default;
$avatar-border-color: 						#E5E5E5 !default;

/**
 * --------------------------------------------------
 */

$content-padding:                 12px;
