.org-choose {
  .container {
    .panel {
      text-align: center;
      padding: 20px 10px;
      .label {
        padding: 5px;
        margin: 12px 0;
        font-size: 18px;
        line-height: 18px;
      }
      .select {
        padding: 2px 4px;
        min-width: 76%;
        max-width: 85%;
        overflow: scroll;
      }

      .tips{
        margin: 40px auto;
        color: #a9a9a9;
        padding: 2px 45px;
      }

      .btn {
        height: 50px;
        background-color: #527be3;
        display: block;
        width: 90%;
        margin: 20px auto;
        border: none;
        color: #ffffff;
        font-size: 18px;
        max-height: 100%;
        text-align: center;
        position: relative;
        top: 120px;
        border-radius: 4px;

        &.activated, &:active {
          background-color: #2e4a90;
        }
      }
    }
  }
}
