.page-backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
}

.panel {
  .banner {
    .x-full-width {
      width: 100%;
    }
  }

  .grid {
    padding: 5px;
    background-color: #f8f8f8;

    .grid-item {
      display: inline;
      float: left;
      margin: 5px;
      padding: 5px;
      border: 1px solid #dcdbdb;
      width: -webkit-calc(50% - 10px);
      width: -moz-calc(50% - 10px);
      .item-img {
        text-align: center;
        img {
          max-width: 100%;
        }
      }
      .item-content {
        .item-name {
          font-size: 0.9em;
          word-spacing: 0.9em;
          color: #333;
          padding: 3px;
          border-top: 1px solid #dcdbdb;
          white-space: normal;
          a {
            word-break: break-all;
          }
        }
        .item-price {
          padding: 2px;
          color: #ff6868;
          line-height: 1.5em;
          .price {
            font-size: 1.5em;
          }
        }
      }
    }
  }
}

.course_detail {
  color: #333;
  background-color: #f8f8f8;

  .section {
    margin-bottom: 14px;
  }

  .introduce {
    .banner {
      .x-full-width {
        width: 100%;
      }
    }

    .detail {
      padding: 10px 10px;
      background-color: #fff;

      .title {
        font-size: 16px;
        margin-bottom: 5px;
      }

      .price {
        color: #ff6868;
        line-height: 18px;
        .name {
          font-size: 16px;
        }
        .unit {
          font-size: 12px;
          margin: 0 0 0 3px;
        }
        .value {
          font-size: 18px;

        }
      }

      .course_content {
        font-size: 13px;
        color: #999999;
      }
    }
  }

  .enroll {
    color: #009966;

    .title {
      background-color: #009966;
      color: #ffffff;
      font-size: 16px;
      width: 100%;
      height: 30px;
      line-height: 30px;
      padding: 0 15px;
      margin-bottom: 10px;
    }

    .list-text {
      background-color: #fff;

      .one-item {
        .label {
          position: relative;
          width: 100%;
          height: 40px;
          padding: 0 15px;

          span {
            font-size: 16px;
            line-height: 32px;

            &.before-input {
              display: inline-block;
              margin-top: 6px;
            }
          }

          .border {
            top: 6px;
            right: 16px;
            left: 100px;
            position: absolute;
            border: 1px solid #009966;
            background-color: #ffffff;
            height: 30px;

            input {
              padding-left: 6px;
              height: 26px;
              width: 100%;
            }

            .verification {
              position: absolute;
              top: -1px;
              right: -1px;
              height: 30px;
              color: #ffffff;
              background-color: #527be3;
              border: none;
              padding: 0;
              font-size: 10px;
              width: 70px;
              text-align: center;
            }
          }

          .sex {
            top: 0;
            right: 16px;
            left: 100px;
            position: absolute;

            .chose-sex {
              &:before {
                color: #009966;
              }
              width: 60px;
              float: left;
              position: relative;
              top: 10px;
              color: #333;
            }
          }

          .ion-close-circled {
            border: none;
            background-color: #fff;
            position: absolute;
            top: 8px;
            right: 20px;
            font-size: 18px;
            height: 26px;
          }

          .ion-verification {
            top: 2px;
            right: 80px;
          }
        }

        .warn {
          background-color: #ff6868;
          color: #ffffff;
          padding-left: 100px;
          margin-top: 5px;
        }
      }
    }
  }

  .tips {
    color: #009966;
    text-align: center;
    padding: 14px 0 10px 0;
    background-color: #fff;
  }

  .success {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 0;
    top: 50%;

    button {
      width: 120px;
      height: 50px;
      background-color: #ebebeb;
    }

  }
}

.pay-footer {
  //padding: 15px 0 0 0;
  padding: 0;
  margin: 0;
  height: 44px;
  background-color: #f8f8f8;
  border-top: none;

  .enroll {
    border: none;
    background-color: #527be3;
    color: #ffffff;
    font-size: 18px;
    display: block;
    width: 100%;
    max-height: 100%;
    text-align: center;

    &:active {
      background-color: #2e4a90;
    }
  }

  .pay {
    width: 100%;
    font-size: 18px;
    //border: 1px solid #dcdbdb;

    .left {
      border-top: 1px solid #dcdbdb;
      border-bottom: 1px solid #dcdbdb;
      position: absolute;
      left: 0;
      width: 60%;
      height: 100%;
      text-align: center;
      line-height: 44px;

      span {
        font-size: 20px;
        color: #ff6868;
        margin-left: 5px;
      }
    }

    .right {
      position: absolute;
      right: 0;
      border: none;
      background-color: #527be3;
      color: #ffffff;
      width: 40%;
      height: 100%;
      text-align: center;

    }
  }

  :active {
    background-color: #2e4a90;
  }

}

//css of notification
.message-prompt {
  $height: 49px;
  min-width: 160px;
  max-width: 300px;
  width: inherit;
  height: $height;
  line-height: $height;
  position: absolute;
  z-index: 9999;
  left: 50%;
  top: 45%;
  border-radius: 2px;
  background: #ebebeb;
  padding: 0 18px;
  color: #333;
  text-align: center;
  font-size: 15px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

//css of order & pay
.confirm-order {
  .popup {
    border-radius: 3px;
    background: #fff;

    .popup-head {
      font-size: 16px;
      padding: 10px 10px 0;
      border-color: #dcdbdb;
      min-height: 45px;

      h3 {
        color: #333;
        font-size: 15px;
      }
    }

    .popup-body {
      padding: 2px 0;

      .row, .popup-buttons {
        min-height: 40px;

        &:first-child {
          border-bottom: 1px solid #dcdbdb;
        }

        .cell {
          vertical-align: middle;
          display: table-cell;
          padding: 10px 2px;

          &.left {
            padding-left: 10px;
            width: 35%;
          }
          &.right {
            margin-left: 5px;
            width: 64%;
          }
        }
      }
    }

    .popup-buttons {
      border-top: 1px solid #dcdbdb;
      min-height: inherit;
      margin: 0;
      padding: 0;

      .button {
        line-height: 50px;
        padding-top: 1px;
        min-height: inherit;
        max-height: inherit;
        border: 0;
        margin: 0;
        background: none;
        border-radius: 0;

        &:first-of-type {
          border-right: 1px solid #dcdbdb;
          color: #666;
        }

        &:last-of-type {
          color: #33a09a;
          height: 100%;
        }

        &:after {
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
      }
    }
  }
}
